/* 
Primary: #59cd90
Dark: #00100b
Light: #f5f5f5
*/

.main-App {
  font-family: "Outfit", sans-serif;
  background-color: #f5f5f5;
}

.App {
  font-family: "Outfit", sans-serif;
  background-color: #f5f5f5;
}
