.main-body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
}

.body-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-image {
  width: 30rem;
}

.body-header {
  font-size: 3.6rem;
}

.body-description {
  line-height: 1.6rem;
}

.body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
