.main-body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.body-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-image {
  width: 30rem;
}

.body-header {
  font-size: 3.6rem;
}

.body-description {
  line-height: 1.6rem;
}

.body-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00100b;
  color: #f5f5f5;
  padding: 20px;
}

.body-text,
.body-image-box {
  margin-bottom: 15rem;
}

.platform-list {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 30px;
}

@media only screen and (max-width: 390px) {
  .main-body-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .body-image {
    width: 20rem;
  }
  .body-header {
    font-size: 2.6rem;
  }
  .body-text,
  .body-image-box {
    margin-bottom: 10rem;
  }
}
