/* .error-msg-box {
  background-color: #fad1da;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 25rem;
  border: 2px solid #df5871;
  border-radius: 5px;
}

.error-msg {
  line-height: 1.5;
} */

/* Error.css */

.container-error-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px 0;
  width: 100%;
}

.error-msg-box {
  background-color: #fad1da;
  padding: 18px; /* Add padding as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 2px solid #df5871;
  border-radius: 5px;
  margin: 0 auto;
}

.error-msg {
  line-height: 1.5;
  margin: 0; /* Remove any default margin */
}

@media screen and (max-width: 600px) {
  .error-msg-box {
    max-width: 100%; /* Full width on small screens */
  }
}
