/* 
Background: #E5E9E7
Accent:  #8B9793
Main: #182F28
Secondary: #C5E863
*/
.main-hero-container .hero-container {
  margin: auto;
  padding: 0 40px;
  background-color: #e5e9e7;
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0rem;
}
.hero-header-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-header-box {
  display: flex;
  flex-direction: column;
}
.hero-header-subbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  line-height: 1.2;
  text-align: center;
  font-size: 4rem;
}

.hero-header-applications {
  color: #59cd90;
}

.hero-description {
  line-height: 1.6rem;
}

.cta-button-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 50%;
  gap: 30px;
}

.cta-button {
  text-decoration: none;
  color: #ffff;
  background-color: #182f28;
  padding: 14px 40px;
  border-radius: 5px;
}
.cta-button-two {
  text-decoration: none;
  color: #ffff;
  background-color: #8b9793;
  padding: 14px 40px;
  border-radius: 5px;
}

.cta-button:hover {
  border: 1px solid #182f28;
  color: #182f28;
  background: none;
  transition: 0.3s all ease-in;
}

.cta-button-two:hover {
  border: 1px solid #182f28;
  color: #182f28;
  background: none;
  transition: 0.3s all ease-in;
}

.hero-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.hero-image {
  width: 60rem;
}

@media only screen and (max-width: 390px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-header-box {
    margin-bottom: 10rem;
  }
  .hero-header-subbox {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 20px;
  }
  .hero-header {
    font-size: 2.6rem;
  }
  .hero-image {
    width: 20rem;
  }
}
