@keyframes moon-spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.moon-loader {
  width: 40px;
  height: 40px;
  border: 4px solid #182f28;
  border-radius: 50%;
  border-top-color: transparent;
  animation: moon-spin 1s linear infinite;
}
