.main-login-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 5rem;
  margin: 1rem 0 5rem 0;
  padding: 0 5rem;
  align-items: center;
  justify-content: center;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form ::placeholder {
  font-family: "Outfit", sans-serif;
}

.form input {
  width: 70%;
  height: 30px;
  margin-bottom: 15px;
  padding: 5px 5px 5px 20px;
  background-color: #000;
  border: none;
  border-radius: 5px;
}

.login-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color:  #59cd90; */
  width: auto;
}

.login-img {
  width: 30rem;
  display: flex;
  align-items: center;
}

.login-btn {
  text-decoration: none;
  color: #000;
  background-color: #59cd90;
  padding: 14px 40px;
  border-radius: 5px;
  width: 70%;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.login-btn:hover {
  border: 1px solid #59cd90;
  color: #59cd90;
  background: none;
  transition: 0.3s all ease-in;
}

.google {
  height: 10px;
  padding-right: 10px;
}

.login-google-btn {
  border: 1px solid #59cd90;
  color: #59cd90;
  background-color: #fff;
  transition: 0.3s all ease-in;
  padding: 14px 40px;
  border-radius: 5px;
  width: 70%;
  box-shadow: none;
  text-decoration: none;
}

.login-google-btn:hover {
  text-decoration: none;
  color: #000;
  background: none;
  padding: 14px 40px;
  border-radius: 5px;
  width: 70%;
  box-shadow: none;
  border: 1px solid #59cd90;
  cursor: pointer;
  margin-right: 20px;
}

.forgot-password-box {
  width: 75%;
}

.forgot-password {
  text-decoration: none;
  font-size: 10px;
  color: #000;
}
