/* 
Background: #E5E9E7
Accent:  #8B9793
Main: #182F28
Secondary: #C5E863
*/
.main-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  background-color: #e5e9e7;
  border-bottom: #8b9793 0.5px solid;
  z-index: 1000;
}

.menu-icon {
  height: 2em;
}

.logo {
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  color: #182f28;
  font-weight: 800;
}

.nav-links-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}

.nav-link-list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  color: #000;
  transition: 0.3s all ease-in;
}

.nav-link:hover {
  color: #59cd90;
}

.nav-link-signup:hover {
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  font-size: 14px;
  background: none;
}

.nav-link-signup {
  background-color: #182f28;
  padding: 10px 20px;
  border-radius: 5px;
  color: #c5e863;
  transition: 0.3s all ease-in;
  text-decoration: none;
  font-size: 14px;
}

.nav-link-login:hover {
  border: 1px solid #182f28;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffff;
  font-size: 14px;
  background-color: #182f28;
}

.nav-link-login {
  padding: 10px 20px;
  border-radius: 5px;
  color: #182f28;
  border: 1px solid #182f28;
  transition: 0.3s all ease-in;
  text-decoration: none;
  font-size: 14px;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  color: #59cd90;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  /* .nav-links-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #59cd90;
    transition: 1s;
    flex-direction: column;
  } */

  .responsive_nav {
    transform: none;
  }
}
